.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Roboto;

  background: #303841;
  max-width: 480px;
  margin: auto;
  padding: 60px 30px;
  min-height: 100vh;
}
